body{
  background-color: 	#E0BFB8;
  margin: 1.5em;
  display: grid;
  justify-content: center;
  }
  label{
    font-weight: bold;
    font-size: 18px;
  }
  #title{
    color: #fff;
    font-size: 28px;
    text-align: center;
  }
  #description{
    font-size: 20px;
  }
input[type="text"], input[type="email"], input[type="number"], input[type="submit"],select,textarea{
 width: 100%;
 padding: .5em;
 margin: 8px 0;
 border: 2px solid #ccc;
 border-radius: 4px;
 background-color: #f8f8f8;

}
  #submit{
      font-weight: bold;
      padding: .5em 2em;
      border: 2px solid #ccc;
      border-radius: 4px;
      background-color: #e4e0e0;
   

  }
